<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">영화 제목</label>
  </div>
  <div>
    <input type="email" class="form-control" id="movieTitle" placeholder="영화 제목을 입력해주세요.">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">점수</label>
  </div>
  <div>
    <input type="number" class="form-control" id="movieTitle" placeholder="점수를 입력하세요.">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">리뷰</label>
  </div>
  <div class="mb-3">
    <textarea class="form-control" id="review" rows="3" placeholder="리뷰를 입력해주세요."></textarea>
  </div>
  <button type="button" class="btn btn-primary">전송</button>